<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Centro Médico Similia Curitiba</title>

  
  <!-- Responsivo Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
  
  <!-- Estilos -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/icone.png" type="image/x-icon">
  <link rel="icon" href="images/icone.png" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">

    
<div class="header-top">
      <div class="container clearfix">
          <div class="top-left">
                  <h6><a href="consultas.html">Consulta</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="consultas.html">Exames</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html#contact-section">Ajuda</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html#contact-section">Contato</a></h6>
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>



<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="index.html">
                              <img src="images/logo.png" alt="Clinica Similia Curitiba - Homeopatia" width="180">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>E-mail</strong>
                              <br>
                              <a href="mailto:contato@clinicasimilia.com.br">
                                    <span>contato@clinicasimilia.com.br</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Telefones</strong>
                              <br>
                              <span>(41) 3324-0000</span>
                              <span>(41) 3324-1000</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                        <a href="consultas.html" class="btn-style-one">Marque sua Consulta</a>
                  </div>
            </div>
      </div>
</section>



<nav class="navbar navbar-default">
      <div class="container">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                              <a href="index.html">Início</a>
                        </li>
                        <li>
                              <a href="sobre.html">Institucional</a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Informações e Serviços
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="consultas.html" style="color: #00502e">Marcar Consulta</a>
                                    </li>
                                    <li>
                                          <a href="consultas.html" style="color: #00502e">Retirar Exame</a>
                                    </li>
                                    <li>
                                          <a href="servicos.html" style="color: #00502e">Informações</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    
                              </ul>
                        </li>
                        <li>
                              <a href="noticias.html">Notícias</a>
                        </li>
                        <li>
                              <a class="scrollSuave" href="consultas.html">Consultas e Exames</a>
                        </li>
                        <li>
                              <a class="scrollSuave" href="index.html#contact-section">Contato</a>
                        </li>
                  </ul>
            </div>

      </div>

</nav>



<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Nossos Serviços<br>Informações</h1>
        </div>
    </div>
</section>


<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-block">
                    <div class="emmergency item">
                        <i class="fa fa-phone"></i>
                        <h2>Telefones</h2>
                        <a href="tel:4133240000">41 3324-0000</a><br>
                        <a href="tel:4133241000">41 3324-1000</a>
                        <p>Agende sua consulta por telefone!</p>
                    </div>
                    <div class="top-doctor item">
                        <i class="fa fa-map-marker"></i>
                        <h2>Unidade</h2>
                        <p>Rua Imaculada Conceição, 2394<br>Centro, Curitiba/PR</p>
                        <a class="btn btn-main" target="_blank" href="https://www.google.com.br/maps/place/R.+Imac.+Concei%C3%A7%C3%A3o,+2394+-+Prado+Velho,+Curitiba+-+PR,+80215-182/data=!4m2!3m1!1s0x94dce4e68586a7db:0x7243f7a94d6c4b5b?sa=X&ved=0ahUKEwj8jr2z54_ZAhWFfpAKHYMGA4MQ8gEIJzAA">Ver no mapa</a>
                        <a class="btn btn-main btn-white" target="_blank" href="consultas.html">Marque sua consulta On-line</a>
                    </div>
                    <div class="working-time item">
                        <i class="fa fa-hourglass-o"></i>
                        <h2>Horário de atendimento</h2>
                        <ul class="w-hours">
                            <li>Segunda à Sexta<span>9:00 - 18:00</span></li>
                            <li>Sábado<span>9:00 - 12:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="service-overview section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-block">
                    <h2>Consultas<br>Exames<br>Tratamentos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eius optio repellendus quasi nisi vitae laboriosam explicabo eligendi sapiente in.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, dolorum esse tempora id architecto laboriosam.
                    </p>
                    <ul>
                        <li><i class="fa fa-caret-right"></i>Consultas com médicos especialistas em Homeopatia</li>
                        <li><i class="fa fa-caret-right"></i>Exames com prioridade na saúde</li>
                        <li><i class="fa fa-caret-right"></i>Equipamentos adequados para a Homeopatia</li>
                        <li><i class="fa fa-caret-right"></i>Retirada de exames on-line</li>
                    </ul>
                    <a href="consultas.html" class="btn btn-style-one">Marcar Consulta On-line</a><br>
                    <div class="clearfix">&nbsp;</div>
                    <a href="consultas.html" class="btn btn-style-one">Retirar Exame</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion-section">
                    <div class="accordion-holder">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Informações de contato
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body item"><p>
                                      <i class="fa fa-phone" style="font-size: 1.5em"></i><br><span>(41) 3324-0000</span><br>
                                      <span>(41) 3324-1000</span><br><br>
                                      <i class="fa fa-envelope-o" style="font-size: 1.5em"></i><br>contato@clinicasimilia.com.br<br><br>
                                      <i class="fa fa-map" style="font-size: 1.5em"></i><br>Rua Imaculada Conceição, 2394<br>
                          Centro, Curitiba/PR</p>
                                  </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Qual é o hórário de atendimento?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                      <h2>Horário de atendimento</h2>
                                      <br>
                                      <i class="fa fa-hourglass-o"></i><br>
                                      <div class="row">
                                      <p>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                          Segunda à Sexta &nbsp;&nbsp;&nbsp;</div><div class="col-md-6 col-sm-12 col-xs-12"> 9:00 - 18:00</div><br>
                                          <div class="col-md-6 col-sm-12 col-xs-12">
                                          Sábado &nbsp;&nbsp;&nbsp;</div><div class="col-md-6 col-sm-12 col-xs-12"> 9:00 - 12:00</span>
                                      </div>
                                      </p>
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            A homeopatia é considerada como medicina?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                      A Homeopatia é uma especialidade médica, reconhecida pelo CFM (Conselho Federal de Medicina) desde 1980. A partir de 1990, a AMHB (Associação Médica Homeopática Brasileira) passou a fazer parte do Conselho de Especialidades Médicas da AMB (Associação Médica Brasileira), oficialmente e, desde então, realiza anualmente a prova para obtenção de Título de Especialista em Homeopatia em convênio com a AMB / CFM. 
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feature-section section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="image-content">
          <div class="section-title text-center">
            <h3>Como funciona a Homeopatia
            </h3>
            <p>Previna doenças e reequilibre as energias com o tratamento homeopático.<br>Veja como funciona:</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="item text-center">
                <div class="icon-box">
                  <figure>
                    <a>
                      <img src="images/resource/1.png" alt="Clinica Similia Curitiba - Homeopatia">
                    </a>
                  </figure>
                </div>
                <h6>1º Passo</h6>
                <legend style="font-size: 1.1em">Consulta</legend>
                <p style="font-size: 1.2em;">O processo inicia-se com uma consulta médica, em uma clínica especializada.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item text-center">
                <div class="icon-box">
                  <figure>
                    <a>
                      <img src="images/resource/5.png" alt="Clinica Similia Curitiba - Homeopatia">
                    </a>
                  </figure>
                </div>
                <h6>2º Passo</h6>
                <legend style="font-size: 1.1em">Exames</legend>
                <p style="font-size: 1.2em;">O médico irá solicitar alguns exames complementares, caso sejam necessários.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item text-center">
                <div class="icon-box">
                  <figure>
                    <a>
                      <img src="images/resource/2.png" alt="Clinica Similia Curitiba - Homeopatia">
                    </a>
                  </figure>
                </div>
                <h6>3º Passo</h6>
                <legend style="font-size: 1.1em">Diagnóstico</legend>
                <p style="font-size: 1.2em;">O médico chegará ao diagnóstico do paciente, podendo então fazer a prescrição com o medicamento correto.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item text-center">
                <div class="icon-box">
                  <figure>
                    <a>
                      <img src="images/resource/4.png" alt="Clinica Similia Curitiba - Homeopatia">
                    </a>
                  </figure>
                </div>
                <h6>4º Passo</h6>
                <legend style="font-size: 1.1em">Tratamento</legend>
                <p style="font-size: 1.2em;">O paciente irá efetuar o tratamento como prescreveu o médico, e seguirá com acompanhamento durante o processo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img style="width: 150px;" class="img-responsive" src="images/logo-2.png" alt="Clinica Similia Curitiba - HomeopatiaCentro Médico Similia">
                </a>
              </figure>
            </div>
            <ul class="location-link">
              <li class="item">
                <i style="color:white" class="fa fa-map-marker"></i>
                <p style="color:white">Rua Imaculada Conceição, 2394<br>
Centro, Curitiba/PR</p>
              </li>
              <li class="item">
                <i style="color:white" class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="mailto:contato@clinicasimilia.com.br">
                  <p style="color:white">contato@clinicasimilia.com.br</p>
                </a>
              </li>
              <li class="item">
                <i style="color:white" class="fa fa-phone" aria-hidden="true"></i>
                <p style="color:white">(41) 3324-0000<br>(41) 3324-1000</p>
              </li>
            </ul>
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Links rápidos</h6>
          <ul class="menu-link">
            <li>
              <a href="consultas.html" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Agendar Consulta</a>
            </li>
            <li>
              <a href="consultas.html" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Retirar Exame</a>
            </li>
            <li>
              <a href="sobre.html" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>A Clínica</a>
            </li>
            <li>
              <a href="noticias.html" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Homeopatia</a>
            </li>
            <li>
              <a href="index.html#contact-section" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Contato</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Unidades</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="images/services/rehab-center-1560942_1920.jpg" width="150px" alt="Clinica Similia Curitiba - HomeopatiaClinica Similia">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Curitiba</a></h4>
                    <p style="color:white">Rua Imaculada Conceição, 2394<br>
          Centro, Curitiba/PR</p></p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="images/services/rehab-center-1560942_1920.jpg" width="150px" alt="Clinica Similia Curitiba - HomeopatiaClinica Similia">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="#">Cascavel</a>
                    </h4>
                    <p style="color:white">Rua Aparecida, 2394<br>
          Centro, Cascavel/PR</p></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p style="color:white">&copy; Copyright 2018-2020. Todos os direitos reservados. Designed by <a href="www.intrazone.com.br" target="_blank" style="color: orange;">IntraZone.com.br</a>
        </p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="index.html">Início</a>
        </li>
        <li>
          <a href="sobre.html">Sobre</a>
        </li>
        <li>
          <a href="index.html#contact-section">Contato</a>
        </li>
        <li>
          <a href="index.html#contact-section">Ajuda</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</div>


<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>

<script src="plugins/jquery.js"></script>
<script src="plugins/bootstrap.min.js"></script>
<script src="plugins/bootstrap-select.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="plugins/google-map/gmap.js"></script>
<script src="plugins/validate.js"></script>
<script src="plugins/wow.js"></script>
<script src="plugins/jquery-ui.js"></script>
<script src="plugins/timePicker.js"></script>
<script src="js/script.js"></script>
<script>
var $doc = $('html, body');
$('.scrollSuave').click(function() {
    $doc.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 800);
    return false;
});</script>

<script>
function formatar(mascara, documento){
  var i = documento.value.length;
  var saida = mascara.substring(0,1);
  var texto = mascara.substring(i)
  
  if (texto.substring(0,1) != saida){
            documento.value += texto.substring(0,1);
  }
  
}
</script>
</body>

</html>
