<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Centro Médico Similia Curitiba</title>

  
  <!-- Bootstrap -->
  <link href="../plugins/bootstrap.min.css" rel="stylesheet">

  <!-- Responsivo Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Carousel -->
  <link rel="stylesheet" href="../plugins/slick/slick.css">
  <link rel="stylesheet" href=../"plugins/slick/slick-theme.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="../plugins/fancybox/jquery.fancybox.min.css">
  
  <!-- Estilos -->
  <link href="../css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="/../images/icone.png" type="image/x-icon">
  <link rel="icon" href="/../images/icone.png" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">

  

<div class="header-top">
      <div class="container clearfix">
          <div class="top-left">
                  <h6><a href="consultas.html">Consulta</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="consultas.html">Exames</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html#contact-section">Ajuda</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html#contact-section">Contato</a></h6>
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>


<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="index.html">
                              <img src="images/logo.png" alt="Clinica Similia Curitiba - Homeopatia" width="180">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>E-mail</strong>
                              <br>
                              <a href="mailto:contato@clinicasimilia.com.br">
                                    <span>contato@clinicasimilia.com.br</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Telefones</strong>
                              <br>
                              <span>(41) 3324-0000</span>
                              <span>(41) 3324-1000</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                        <a href="consultas.html" class="btn-style-one">Marque sua Consulta</a>
                  </div>
            </div>
      </div>
</section>


<nav class="navbar navbar-default">
      <div class="container">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                              <a href="index.html">Início</a>
                        </li>
                        <li>
                              <a href="sobre.html">Institucional</a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Informações e Serviços
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="consultas.html" style="color: #00502e">Marcar Consulta</a>
                                    </li>
                                    <li>
                                          <a href="consultas.html" style="color: #00502e">Retirar Exame</a>
                                    </li>
                                    <li>
                                          <a href="servicos.html" style="color: #00502e">Informações</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    
                              </ul>
                        </li>
                        <li>
                              <a href="noticias.html">Notícias</a>
                        </li>
                        <li>
                              <a class="scrollSuave" href="consultas.html">Consultas e Exames</a>
                        </li>
                        <li>
                              <a class="scrollSuave" href="index.html#contact-section">Contato</a>
                        </li>
                  </ul>
            </div>

      </div>

</nav>



<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Marcar Consulta</h1><br>
            <p><span style="font-size: 1.4em;color: white">Preencha os campos abaixo para marcar sua consulta</span></p>
        </div>
    </div>
</section>


<section class="blog-section section style-three pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-area style-two">
                    <div class="section-title">
                        <h3>Agendar <span>Consulta</span> - Curitiba</h3>
                    </div>
                    <form name="contact_form" class="default-form contact-form" action="#MarcarConsulta" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                  <label>Nome Completo</label>
                                    <input type="text" name="Name" required="required">
                                </div>
                                <div class="form-group">
                                  <label>E-mail</label>
                                    <input type="email" name="Email" required="required">
                                </div>  
                                <div class="form-group">
                                  <label>RG</label>
                                    <input type="email" name="Email" required="required">
                                </div>                           
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                  <label>Telefone</label>
                                    <input type="text" name="tel"= required="">
                                </div>
                                <div class="form-group">
                                  <label>Data</label>
                                    <input type="text" name="Date" required="" id="datepicker">
                                    <i style="margin-top: 30px;" class="fa fa-calendar" aria-hidden="true"></i>
                                </div> 
                                <div class="form-group">
                                  <label>Horário</label>
                                    <select name="hour">
                                      <option>Sem preferência</option>
                                        <option>09:00 às 10:00</option>
                                        <option>10:00 às 11:00</option>
                                        <option>11:00 às 12:00</option>
                                        <option>13:00 às 14:00</option>
                                        <option>14:00 às 15:00</option>
                                        <option>15:00 às 16:00</option>
                                        <option>16:00 às 17:00</option>
                                        <option>17:00 às 18:00</option>
                                    </select>
                                </div> 
                                                           
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                  <label>Doutor de Preferência</label>
                                    <select name="doctor">
                                      <option>Sem preferência</option>
                                        <option>Carlos</option>
                                        <option>Fernanda</option>
                                        
                                    </select>
                                </div> 
                                <div class="form-group" >
                                    <textarea name="form_message" placeholder="Conte-nos mais o que está acontecendo.." required=""></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn-style-one">Marcar</button>
                                </div> 

                                <!-- Adicionar com o PHP 
                                <div class="text-center" id="MarcarConsulta">
                                  <h4>Sua consulta foi previamente agendada com sucesso. Em breve entraremos em contato para confirmá-la.</h4>
                                </div>          
                                -->                 
                            </div>
                        </div>
                    </form>
                </div>                      
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="text-center section-title">
                <h3>Clique para retirar exames:</h3><br>
                <button type="button" class="btn-style-one" data-toggle="modal" data-target="#retirarExame">Retirar Exame</button>
                <br>
                <br>
                <div class="modal fade" id="retirarExame" role="dialog">
                  <div class="modal-dialog">
                  
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Digite o número de protocolo:</h4>
                      </div>
                      <div class="modal-body">
                        <form name="contact_form" class="default-form contact-form" action="#ResultadoExame" method="post">
                              <div class="row">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                      <div class="form-group">
                                        <label>Nº do Protocolo</label>
                                          <input type="text" name="protocol-number" required="required">
                                      </div>
                                      <div class="form-group text-center">
                                          <button type="submit" class="btn-style-one">Retirar Resultado</button>
                                      </div>                 
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
                <div class="appointment-image-holder" align="center">
                    <figure>
                        <img src="images/slider/slider-bg-1.jpg" style="filter: opacity(0.8); max-height: 600px;" class="img-responsive" alt="Marcar Consulta - Cliica Similia">
                    </figure>
                </div>                       
            </div>
        </div>                    
    </div>
</section>


<section class="team-section section">
    <div class="container" style="margin-top: -50px;">
        <div class="section-title contents text-center" >
          <span class="spanlinha" style="min-width: 600px;background: transparent;padding: 0px 0px 70px 120px;border-bottom: 2px solid gray;"></span>
            <h3>
                <span>Nossos</span> Médicos
            </h3>
            
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="team-member">
                    <img src="images/team/doctor-1149149_1920.jpg" alt="Dr. Carlos Abaddia" class="img-responsive">
                    <div class="contents text-center">
                        <h4>Dr. Carlos Abaddia</h4>
                        <p>Especialista em Homeopatia</p>
                        <a href="equipe.html#equipe" class="btn btn-main">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="team-member">
                    <img src="images/team/doctor-2722941_1920.jpg" alt="Dra. Fernanda Aprostti" class="img-responsive">
                    <div class="contents text-center">
                        <h4>Dra. Fernanda Aprostti</h4>
                        <p>Doutorado em Homeopatia</p>
                        <a href="equipe.html#equipe" class="btn btn-main">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img style="width: 150px;" class="img-responsive" src="images/logo-2.png" alt="Centro Médico Similia">
                </a>
              </figure>
            </div>
            <ul class="location-link">
              <li class="item">
                <i style="color:white" class="fa fa-map-marker"></i>
                <p style="color:white">Rua Imaculada Conceição, 2394<br>
Centro, Curitiba/PR</p>
              </li>
              <li class="item">
                <i style="color:white" class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="mailto:contato@clinicasimilia.com.br">
                  <p style="color:white">contato@clinicasimilia.com.br</p>
                </a>
              </li>
              <li class="item">
                <i style="color:white" class="fa fa-phone" aria-hidden="true"></i>
                <p style="color:white">(41) 3324-0000<br>(41) 3324-1000</p>
              </li>
            </ul>
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Links rápidos</h6>
          <ul class="menu-link">
            <li>
              <a href="consultas.html" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Agendar Consulta</a>
            </li>
            <li>
              <a href="consultas.html#retirar" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Retirar Exame</a>
            </li>
            <li>
              <a href="sobre.html" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>A Clínica</a>
            </li>
            <li>
              <a href="noticias.html" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Homeopatia</a>
            </li>
            <li>
              <a href="index.html#contact-section" style="color:white">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Contato</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Unidades</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="index.html">
                      <img class="media-object" src="images/services/rehab-center-1560942_1920.jpg" width="150px" alt="Clinica Similia">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="">Curitiba</a></h4>
                    <p style="color:white">Rua Imaculada Conceição, 2394<br>
          Centro, Curitiba/PR</p></p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="index.html">
                      <img class="media-object" src="images/services/rehab-center-1560942_1920.jpg" width="150px" alt="Clinica Similia">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="">Cascavel</a>
                    </h4>
                    <p style="color:white">Rua Aparecida, 2394<br>
          Centro, Cascavel/PR</p></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p style="color:white">&copy; Copyright 2018-2020. Todos os direitos reservados. Designed by <a href="www.intrazone.com.br" target="_blank" style="color: orange;">IntraZone.com.br</a>
        </p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="index.html">Início</a>
        </li>
        <li>
          <a href="sobre.html">Sobre</a>
        </li>
        <li>
          <a href="index.html#contact-section">Contato</a>
        </li>
        <li>
          <a href="index.html#contact-section">Ajuda</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</div>




<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>

<script src="../plugins/jquery.js"></script>
<script src="../plugins/bootstrap.min.js"></script>
<script src="../plugins/bootstrap-select.min.js"></script>
<script src="../plugins/slick/slick.min.js"></script>
<script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="../plugins/google-map/gmap.js"></script>
<script src="../plugins/validate.js"></script>
<script src="../plugins/wow.js"></script>
<script src="../plugins/jquery-ui.js"></script>
<script src="../plugins/timePicker.js"></script>
<script src="../js/script.js"></script>
<script>
var $doc = $('html, body');
$('.scrollSuave').click(function() {
    $doc.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 800);
    return false;
});</script>

<script>
function formatar(mascara, documento){
  var i = documento.value.length;
  var saida = mascara.substring(0,1);
  var texto = mascara.substring(i)
  
  if (texto.substring(0,1) != saida){
            documento.value += texto.substring(0,1);
  }
  
}
</script>
</body>

</html>
